{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'style.css' %}" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js"></script>
    <script src="{% static 'script.js' %}"></script>
    <title>BukuBuku</title>
</head>
<body>
    <div class="section container">
        <div class="search-container">
            <h1 class="main-title">Cari<span style="color:	#800000;"> buku </span>kesayanganmu sekarang! 📔</h1> 
            <!-- #A52A2A warna coklat lebih merah, 📕 -->
            <!-- https://www.rapidtables.com/web/color/brown-color.html -->
            <div class="search-box">
                <i class="fas fa-search"></i>
                <input type="text" id="searchBox" class="form-control">
            </div>
        </div>
    </div>
    <div class="section container">
        <div class="book-result-container" id="bookResult">
            
        </div>
        <div class="liked-book-container" id="likedBookSection">
            <h1 class="main-title">Lihat buku paling disukai 🤎 </h1>
            <button type="button" id="modalBtn" class="book-like-btn" data-toggle="modal" data-target="#topBookModal" onclick="loadTopBook()">
                Top 5 Favorit
            </button>
            <br><br><br>
            <h1 class="main-title">Buku yang kamu sukai</h1>
            <div class="book-liked-container">
                
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="topBookModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><span class="main-title">Buku Favorit</span></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body" id="topBookContainer">

            </div>
        </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
        AOS.init();
      </script>
</body>
</html>
